workflows/n8n/gopay-app/account/entry/gopay-account.workflow.json
{
  "id": "gopay-account",
  "name": "GoPay Account",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gopay-app/account",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 202
        }
      },
      "id": "gopay-account-start-webhook",
      "name": "Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "byte-v-forge-gopay-account"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.body?.job_id || $json.job_id }}",
              "type": "string"
            },
            {
              "id": "account-id",
              "name": "account_id",
              "value": "={{ $json.body?.account_id || $json.account_id }}",
              "type": "string"
            },
            {
              "id": "n8n-execution-id",
              "name": "n8n_execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "action-scope",
              "name": "action_scope",
              "value": "gopay-account",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "gopay-account-normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/load-params' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Normalize Input').first().json.job_id, n8n_execution_id: $('Normalize Input').first().json.n8n_execution_id } }}",
        "options": {}
      },
      "id": "gopay-account-load-params",
      "name": "Load Params",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-provision-cond",
              "leftValue": "={{ $json.operation === 'provision' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-provision",
      "name": "Is Provision?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-auth",
          "mode": "id"
        }
      },
      "id": "gopay-account-auth-provision",
      "name": "Auth Provision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1200,
        -420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-change-phone",
          "mode": "id"
        }
      },
      "id": "gopay-account-change-phone-provision",
      "name": "Change Phone Provision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1500,
        -420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-deactivate",
          "mode": "id"
        }
      },
      "id": "gopay-account-deactivate-provision",
      "name": "Deactivate Provision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1800,
        -420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-signup",
          "mode": "id"
        }
      },
      "id": "gopay-account-signup-provision",
      "name": "Signup Provision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2100,
        -420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'provision', gopay_account_id: $('Load Params').first().json.gopay_account_id, state_json: $json.state_json, data: { operation: 'provision', login: $('Auth Provision').first().json.data, change_phone: $('Change Phone Provision').first().json.data, deactivate: $('Deactivate Provision').first().json.data, signup: $('Signup Provision').first().json.data, ensure_pin_setup: $json.data, activation_id: $('Change Phone Provision').first().json.activation_id, phone: $('Change Phone Provision').first().json.phone, change_phone_complete: $('Change Phone Provision').first().json.change_phone_complete, deactivate_complete: $('Deactivate Provision').first().json.deactivate_complete, signup_complete: $('Signup Provision').first().json.signup_complete, signup_pin_complete: $json.signup_pin_complete, account_token_ready: $json.account_token_ready } } }}",
        "options": {}
      },
      "id": "gopay-account-finish-provision",
      "name": "Finish Provision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        -420
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/load-state' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, gopay_account_id: $('Load Params').first().json.gopay_account_id, operation: $('Load Params').first().json.operation } }}",
        "options": {}
      },
      "id": "gopay-account-load-state",
      "name": "Load State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-login-cond",
              "leftValue": "={{ $json.operation === 'login' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-login",
      "name": "Is Login?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        120
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-auth",
          "mode": "id"
        }
      },
      "id": "gopay-account-login-user",
      "name": "Login User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1800,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'login', gopay_account_id: $('Load Params').first().json.gopay_account_id, state_json: $('Login User').first().json.state_json, data: { operation: 'login', gopay_account_id: $('Load Params').first().json.gopay_account_id, login: $('Login User').first().json.data, account_token_ready: $('Login User').first().json.account_token_ready } } }}",
        "options": {}
      },
      "id": "gopay-account-finish-login",
      "name": "Finish Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-signup-cond",
              "leftValue": "={{ $json.operation === 'signup' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-signup",
      "name": "Is Signup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1800,
        160
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-signup",
          "mode": "id"
        }
      },
      "id": "gopay-account-signup-user",
      "name": "Signup User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2100,
        160
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'signup', gopay_account_id: $('Load Params').first().json.gopay_account_id, state_json: $('Signup User').first().json.state_json, data: { operation: 'signup', gopay_account_id: $('Load Params').first().json.gopay_account_id, signup: $('Signup User').first().json.data, signup_complete: $('Signup User').first().json.signup_complete } } }}",
        "options": {}
      },
      "id": "gopay-account-finish-signup",
      "name": "Finish Signup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        160
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-ensure-pin-cond",
              "leftValue": "={{ $json.operation === 'ensure_pin_setup' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-ensure-pin",
      "name": "Is Ensure PIN?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2100,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'ensure_pin_setup', gopay_account_id: $('Load Params').first().json.gopay_account_id, state_json: $json.state_json, data: { operation: 'ensure_pin_setup', gopay_account_id: $('Load Params').first().json.gopay_account_id, ensure_pin_setup: $json.data, signup_pin_complete: $json.signup_pin_complete, account_token_ready: $json.account_token_ready } } }}",
        "options": {}
      },
      "id": "gopay-account-finish-ensure-pin",
      "name": "Finish Ensure PIN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-check-balance-cond",
              "leftValue": "={{ $json.operation === 'check_balance' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-check-balance",
      "name": "Is Check Balance?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/check-balance' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'check_balance', gopay_account_id: $('Load Params').first().json.gopay_account_id, phone: $('Load Params').first().json.phone, otp_channel: $('Load Params').first().json.otp_channel, state_json: $json.state_json || $('Load State').first().json.state_json } }}",
        "options": {}
      },
      "id": "gopay-account-check-balance-user",
      "name": "Check Balance User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'check_balance', gopay_account_id: $('Load Params').first().json.gopay_account_id, state_json: $('Check Balance User').first().json.state_json, data: { operation: 'check_balance', gopay_account_id: $('Load Params').first().json.gopay_account_id, check_balance: $('Check Balance User').first().json.data, account_token_ready: $('Check Balance User').first().json.account_token_ready } } }}",
        "options": {}
      },
      "id": "gopay-account-finish-check-balance",
      "name": "Finish Check Balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-check-pin-cond",
              "leftValue": "={{ $json.operation === 'check_pin' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-check-pin",
      "name": "Is Check PIN?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2700,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/check-pin' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'check_pin', gopay_account_id: $('Load Params').first().json.gopay_account_id, phone: $('Load Params').first().json.phone, otp_channel: $('Load Params').first().json.otp_channel, state_json: $json.state_json || $('Load State').first().json.state_json } }}",
        "options": {}
      },
      "id": "gopay-account-check-pin-user",
      "name": "Check PIN User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        720
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'check_pin', gopay_account_id: $('Load Params').first().json.gopay_account_id, state_json: $('Check PIN User').first().json.state_json, data: { operation: 'check_pin', gopay_account_id: $('Load Params').first().json.gopay_account_id, check_pin: $('Check PIN User').first().json.data, account_token_ready: $('Check PIN User').first().json.account_token_ready, signup_pin_complete: $('Check PIN User').first().json.signup_pin_complete } } }}",
        "options": {}
      },
      "id": "gopay-account-finish-check-pin",
      "name": "Finish Check PIN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        720
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "is-change-phone-cond",
              "leftValue": "={{ $json.operation === 'change_phone' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-change-phone",
      "name": "Is Change Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3000,
        920
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-change-phone",
          "mode": "id"
        }
      },
      "id": "gopay-account-change-phone-user",
      "name": "Change Phone User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3600,
        920
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: 'change_phone', gopay_account_id: $('Load Params').first().json.gopay_account_id, state_json: $('Change Phone User').first().json.state_json, data: { operation: 'change_phone', gopay_account_id: $('Load Params').first().json.gopay_account_id, change_phone: $('Change Phone User').first().json.data, activation_id: $('Change Phone User').first().json.activation_id, phone: $('Change Phone User').first().json.phone, change_phone_complete: $('Change Phone User').first().json.change_phone_complete } } }}",
        "options": {}
      },
      "id": "gopay-account-finish-change-phone",
      "name": "Finish Change Phone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3900,
        920
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/fail' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Load Params').first().json.job_id, n8n_execution_id: $('Load Params').first().json.n8n_execution_id, operation: $('Load Params').first().json.operation, gopay_account_id: $('Load Params').first().json.gopay_account_id, error_message: 'unsupported gopay app operation: ' + $('Load Params').first().json.operation, data: { operation: $('Load Params').first().json.operation } } }}",
        "options": {}
      },
      "id": "gopay-account-fail-unsupported-operation",
      "name": "Fail Unsupported Operation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3300,
        1120
      ],
      "retryOnFail": true,
      "maxTries": 1,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-auth",
          "mode": "id"
        }
      },
      "id": "gopay-account-auth-change-phone-user",
      "name": "Auth Change Phone User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3300,
        920
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-auth",
          "mode": "id"
        }
      },
      "id": "gopay-account-auth-check-balance-user",
      "name": "Auth Check Balance User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2700,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-auth",
          "mode": "id"
        }
      },
      "id": "gopay-account-auth-check-pin-user",
      "name": "Auth Check PIN User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3000,
        720
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const params = $('Load Params').first().json;\nconst signup = $('Signup Provision').first().json;\nreturn [{ json: {\n  job_id: params.job_id,\n  n8n_execution_id: params.n8n_execution_id,\n  operation: 'provision',\n  gopay_account_id: params.gopay_account_id,\n  otp_channel: params.otp_channel || signup.otp_channel,\n  activation_id: signup.activation_id,\n  state_json: signup.state_json,\n  data: signup.data,\n  not_ready_error_message: 'gopay account token is not ready after ensure pin setup',\n  otp_timeout_error_message: 'gopay ensure pin otp not received before timeout',\n} }];"
      },
      "id": "gopay-account-build-pin-provision-input",
      "name": "Build PIN Provision Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -420
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-pin",
          "mode": "id"
        }
      },
      "id": "gopay-account-ensure-pin-provision",
      "name": "Ensure PIN Provision",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2700,
        -420
      ]
    },
    {
      "parameters": {
        "jsCode": "const params = $('Load Params').first().json;\nconst state = $('Load State').first().json;\nreturn [{ json: {\n  job_id: params.job_id,\n  n8n_execution_id: params.n8n_execution_id,\n  operation: 'ensure_pin_setup',\n  gopay_account_id: params.gopay_account_id,\n  otp_channel: params.otp_channel,\n  activation_id: state.activation_id,\n  state_json: state.state_json,\n  data: state.data,\n  not_ready_error_message: 'gopay account token is not ready after ensure pin setup',\n  otp_timeout_error_message: 'gopay ensure pin otp not received before timeout',\n} }];"
      },
      "id": "gopay-account-build-pin-user-input",
      "name": "Build PIN User Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-pin",
          "mode": "id"
        }
      },
      "id": "gopay-account-ensure-pin-user",
      "name": "Ensure PIN User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2700,
        320
      ]
    },
    {
      "parameters": {
        "content": "Entry router\nNormalize request and load typed params",
        "height": 320,
        "width": 1040,
        "color": 4
      },
      "id": "layout-note-gopay-app-01",
      "name": "Layout Note - gopay-app-01",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -160
      ]
    },
    {
      "parameters": {
        "content": "Provision chain\nAuth → change phone → deactivate → signup → ensure PIN",
        "height": 300,
        "width": 2120,
        "color": 5
      },
      "id": "layout-note-gopay-app-02",
      "name": "Layout Note - gopay-app-02",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        -560
      ]
    },
    {
      "parameters": {
        "content": "User actions\nEach visible branch maps to one action/subflow boundary",
        "height": 1240,
        "width": 3000,
        "color": 6
      },
      "id": "layout-note-gopay-app-03",
      "name": "Layout Note - gopay-app-03",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        -40
      ]
    },
    {
      "parameters": {
        "content": "PIN setup is a reusable embedded sub-workflow",
        "height": 260,
        "width": 760,
        "color": 3
      },
      "id": "layout-note-gopay-app-04",
      "name": "Layout Note - gopay-app-04",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gopay-account-is-register-indonesia-wa-cond",
              "leftValue": "={{ $json.operation === 'register_indonesia_wa' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-is-register-indonesia-wa",
      "name": "Is Register Indonesia WA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3000,
        360
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-register-indonesia-wa",
          "mode": "id"
        }
      },
      "id": "gopay-account-register-indonesia-wa-user",
      "name": "Register Indonesia WA User",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3300,
        240
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gopay-account-register-indonesia-wa-started-cond",
              "leftValue": "={{ $json.success === true && $json.register_indonesia_wa_started === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-account-register-indonesia-wa-started",
      "name": "Indonesia WA Register Started?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3600,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Normalize Input').first().json.job_id, n8n_execution_id: $('Normalize Input').first().json.n8n_execution_id, operation: $('Load Params').first().json.operation, gopay_account_id: $('Load Params').first().json.gopay_account_id, data: $('Register Indonesia WA User').first().json } }}",
        "options": {}
      },
      "id": "gopay-account-finish-register-indonesia-wa",
      "name": "Finish Register Indonesia WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3900,
        120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-account/fail' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Normalize Input').first().json.job_id, n8n_execution_id: $('Normalize Input').first().json.n8n_execution_id, operation: $('Load Params').first().json.operation, gopay_account_id: $('Load Params').first().json.gopay_account_id, error_message: $('Register Indonesia WA User').first().json.error_message || 'register indonesia wa failed', data: $('Register Indonesia WA User').first().json } }}",
        "options": {}
      },
      "id": "gopay-account-fail-register-indonesia-wa",
      "name": "Fail Register Indonesia WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3900,
        360
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Load Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Params": {
      "main": [
        [
          {
            "node": "Is Provision?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Provision?": {
      "main": [
        [
          {
            "node": "Auth Provision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Provision": {
      "main": [
        [
          {
            "node": "Change Phone Provision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Phone Provision": {
      "main": [
        [
          {
            "node": "Deactivate Provision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Provision": {
      "main": [
        [
          {
            "node": "Signup Provision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signup Provision": {
      "main": [
        [
          {
            "node": "Build PIN Provision Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load State": {
      "main": [
        [
          {
            "node": "Is Login?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Login?": {
      "main": [
        [
          {
            "node": "Login User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Signup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login User": {
      "main": [
        [
          {
            "node": "Finish Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Signup?": {
      "main": [
        [
          {
            "node": "Signup User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Ensure PIN?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signup User": {
      "main": [
        [
          {
            "node": "Finish Signup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ensure PIN?": {
      "main": [
        [
          {
            "node": "Build PIN User Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Check Balance?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Check Balance?": {
      "main": [
        [
          {
            "node": "Auth Check Balance User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Check PIN?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Balance User": {
      "main": [
        [
          {
            "node": "Finish Check Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Check PIN?": {
      "main": [
        [
          {
            "node": "Auth Check PIN User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Change Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PIN User": {
      "main": [
        [
          {
            "node": "Finish Check PIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Change Phone?": {
      "main": [
        [
          {
            "node": "Auth Change Phone User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Register Indonesia WA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Phone User": {
      "main": [
        [
          {
            "node": "Finish Change Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Change Phone User": {
      "main": [
        [
          {
            "node": "Change Phone User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check Balance User": {
      "main": [
        [
          {
            "node": "Check Balance User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check PIN User": {
      "main": [
        [
          {
            "node": "Check PIN User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PIN Provision Input": {
      "main": [
        [
          {
            "node": "Ensure PIN Provision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure PIN Provision": {
      "main": [
        [
          {
            "node": "Finish Provision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PIN User Input": {
      "main": [
        [
          {
            "node": "Ensure PIN User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure PIN User": {
      "main": [
        [
          {
            "node": "Finish Ensure PIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Register Indonesia WA?": {
      "main": [
        [
          {
            "node": "Register Indonesia WA User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Unsupported Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Indonesia WA User": {
      "main": [
        [
          {
            "node": "Indonesia WA Register Started?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indonesia WA Register Started?": {
      "main": [
        [
          {
            "node": "Finish Register Indonesia WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Register Indonesia WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": []
}
