workflows/n8n/gopay-app/toolbox/entry/gopay-register-indonesia-wa.workflow.json
{
  "id": "gopay-register-indonesia-wa",
  "name": "GoPay Toolbox - Register Indonesia WA",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gopay-app/toolbox/register-indonesia-wa",
        "responseMode": "onReceived",
        "options": {
          "responseCode": 202
        }
      },
      "id": "gopay-register-indonesia-wa-start-webhook",
      "name": "Start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "byte-v-forge-gopay-register-indonesia-wa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job-id",
              "name": "job_id",
              "value": "={{ $json.body?.job_id || $json.job_id }}",
              "type": "string"
            },
            {
              "id": "n8n-execution-id",
              "name": "n8n_execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "action-scope",
              "name": "action_scope",
              "value": "gopay-toolbox",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "gopay-register-indonesia-wa-normalize-input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-toolbox/load-params' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Normalize Input').first().json.job_id, n8n_execution_id: $('Normalize Input').first().json.n8n_execution_id } }}",
        "options": {}
      },
      "id": "gopay-register-indonesia-wa-load-params",
      "name": "Load Params",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gopay-account-register-indonesia-wa",
          "mode": "id"
        }
      },
      "id": "gopay-register-indonesia-wa-run",
      "name": "Register Indonesia WA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "gopay-register-indonesia-wa-success-cond",
              "leftValue": "={{ $json.success === true && $json.register_indonesia_wa_started === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gopay-register-indonesia-wa-started",
      "name": "Indonesia WA Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-toolbox/finish' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Normalize Input').first().json.job_id, n8n_execution_id: $('Normalize Input').first().json.n8n_execution_id, operation: $('Load Params').first().json.operation, data: $('Register Indonesia WA').first().json } }}",
        "options": {}
      },
      "id": "gopay-register-indonesia-wa-finish",
      "name": "Finish Register Indonesia WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        -120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GOPAY_ACTION_API_BASE_URL + '/gopay-toolbox/fail' }}",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { job_id: $('Normalize Input').first().json.job_id, n8n_execution_id: $('Normalize Input').first().json.n8n_execution_id, operation: $('Load Params').first().json.operation, error_message: $('Register Indonesia WA').first().json.error_message || 'register indonesia wa failed', data: $('Register Indonesia WA').first().json } }}",
        "options": {}
      },
      "id": "gopay-register-indonesia-wa-fail",
      "name": "Fail Register Indonesia WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        120
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Load Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Params": {
      "main": [
        [
          {
            "node": "Register Indonesia WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Indonesia WA": {
      "main": [
        [
          {
            "node": "Indonesia WA Registered?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Indonesia WA Registered?": {
      "main": [
        [
          {
            "node": "Finish Register Indonesia WA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Register Indonesia WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "tags": []
}
